{% extends "base.html" %}

{% block content %}
<h1 style="background-color: #004b6b; color:white;">Groundwater Monitoring Dashboard</h1>

<!--<h2 style="background-color: #ff9900; color:white;">ADD NEW BOREHOLE</h2-->

<form action="{% url 'borehole_add' %}" method="post" style="background-color: #004b6b;">
    <h2 style="background-color: #ff9900; color:white;">ADD NEW BOREHOLE</h2>
    {% csrf_token %}
    <table style="color: white;">
        <tr>
            <td>Location</td>
            <td><input name="location" required></td>
        </tr>
        <tr>
            <td>Depth (m)</td>
            <td><input name="depth" type="number" step="0.01" required></td>
        </tr>
        <tr>
            <td>Diameter (m)</td>
            <td><input name="diameter" type="number" step="0.01" required></td>
        </tr>
        <tr>
            <td>Sensor ID</td>
            <td><input name="sensor_id" required></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <p></p>
                <button type="submit" class="button button-add" style="background-color: #ff9900; color:white;" >Add</button>
                <button type="button" class="button button-cancel" style="background-color: #ff9900; color:white;" onclick="window.location='/'">Cancel</button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}
